@import "tailwindcss";

*{
   box-sizing:border-box;
   font-family:"Google Sans"
}

body {
  font-family:"Google Sans";
}

html,body{
  width:100%;
  height:100%;
  /* display:flex;
  justify-content:space-between; */
}