* {
    margin : 0;
    padding: 0;
    box-sizing:border-box;
}


.main{
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
     background-color:white;
}


.container{
  border:1px solid white;
  padding:10px;
  border-radius:10px;
  background-color:black;
  width:500px;
}


.inner-container-2{
  display:flex;
  justify-content:space-around;
  /* flex-direction:column; */
}